<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Introducción a VueJS</title>
        <meta name="author" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </head>

    <body>

        <h1 id="autor">Autor: Ismael Amoros Solano</h1>

        <!-- https://vuejs.org/v2/guide/index.html -->
        <div id="app">
            <div class="jumbotron">
                <h1 id="title"> {{col.collection.title}} </h1>
            </div>
            <div class="card-group">
                    <div class="card shadow text-center" v-for="item in col.collection.items">
                        <div class="card-body">
                            <dl v-for="pelicula in item.data">
                            <dt>{{pelicula.prompt}}</dt>
                            <dd>{{pelicula.value}}</dd>

                              </dl>

                    <a v-bind:href="item.href" target="_blank" class="btn btn-primary">Ver</a>
                </div>
                </div>
              </div>
            <!--
                 TODO: Mostrar datos del objeto collection. Ver archivo ./js/script.js
               -HECHO // Mostrar el título de la colección dentro de un componente Jumbotron de Bootstrap https://getbootstrap.com/docs/4.0/components/jumbotron/. En su interior habrá un <h1> con id "title" que mostrará el título de la colección
               - HECHO // Para cada item: (https://vuejs.org/v2/guide/index.html#Conditionals-and-Loops)
                 -HECHO // Crear un componente card de Bootstrap (https://getbootstrap.com/docs/4.0/components/card/)
                 -  Mostrar un enlace de tipo botón a la propiedad "href" del item con el texto "Ver"
                 -HECHO // Mostrar cada uno de los elementos del vector "data" en una lista de definición <dl>. Para cada elemento del vector "data":
                   -HECHO // El término <dt> será la propiedad "prompt"
                   -HECHO // La definición <dd> será la propiedad "value"
            -->

        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="./js/script.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>

</html>
